<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        Welcome to {{ title }}!
    </h1>

    <h2>Here are some links to help you start: </h2>
    <ul>
        <li>
            <h2><a routerLink="/aboutus">about us</a></h2>
        </li>
        <li>
            <h2><a routerLink="/team">team</a></h2>
        </li>
        <li>
            <h2><a routerLink="/contactus">contactus</a></h2>
        </li>
        <li>
            <h2><a routerLink="/anant">anant</a></h2>
        </li>
    </ul>
</div>
<router-outlet></router-outlet>